<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.backyardev.spacejam">

    <compatible-screens>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xxxhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xxxhdpi"
            android:screenSize="normal" />
    </compatible-screens>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:allowBackup"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Splash"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.LoginActivity" />

        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.SettingsActivity"/>
    </application>

</manifest>